<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascripts/xhr/jq-xhr.js"></script>
</head>
<body>
    <h2>learn XHR</h2>
    编号：<input type="text" id="id-input" value=""><br/>
    <button id="send-btn">Send By Get</button><br/>
    名称：<input type="text" id="name-input" value=""><br/>
    <button id="send-btn-post">Send By Post</button><br/>
    <span id="server-info"></span><br/>
    
</body>
</html>